<Title: Requirements for Promotion>

<Section: Promotion to Student Manager>

Student manager positions include both a raise and an increase in responsibility. Student managers are hired based on need and there are a limited number of student manager positions. When student managers are needed a notice listing application procedures will be posted.  

<Subsection: Minimum Requirements>
- Two full semesters of employment at The Commons.
- Knowledge of how to run every station, including The College Grind. For each station student managers are expected to be able to open, close, stock, run while busy or short staffed, troubleshoot common problems, and train new employees. Learn these things **before** applying!
- Exemplary attendance, no unexcused absences.
- Willingness to work extra shifts as needed.
- Mature, responsible, and reliable.
- Able to communicate effectively with both hearing and Deaf coworkers and customers.
- Must demonstrate leadership ability.