html, body {
	height: 100%;
}
body {
	background-color: #D1C0F1;
	color: #380155;
	margin: 0px;
}
#main_block {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	/* border-left: #380155 solid 2px;
	border-right: #380155 solid 2px; */
	/*border-top: #380155 solid 2px;
	border-bottom: #380155 solid 2px;*/
	/* border: 0px;
	border-left: 92px solid transparent;
	border-right: 92px solid transparent; */
	padding-top: 10px;
	padding-bottom: 110px;
	background-color: #FFF1C9;
	overflow: hidden;
	min-height: 100%;
}
#main_block {
	border-style: solid;
	border-width: 0px 46px;
	border-image: url('border_braid1_cropped_small_test2.png') 0 92 0 92 repeat;
	/* border-image-slice: 1;
	border-image-repeat: repeat; */
}
/* #wrap {
	min-height: 100%;
} */
#footer {
	position: relative;
	margin-top: -90px;
	height: 90px;
	/* float: left; */
	padding-left: 15px;
	padding-right: 20px;
}
#footer p {
	display: inline;
}
#footer_img {
	/* vertical-align: top; */
	float: right;
	clear: none;
}
/* #footer form, #footer_text {
	float: left;
} */
#footer form {
	float: left;
/* 	display: inline;
	clear: none; */
}
#footer br {
	clear: none;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar li {
	display: inline;
}

#topbar > img, #header > li, #topbar > div {
	float: left;
}
#topbar > img {
	/* vertical-align: middle; */
	margin: 1px 10px 1px 10px;
	/* margin-bottom: 1px;
	margin-left: */
}
#user {
	float: right;
	/* vertical-align: middle; */
}
#user p {
	clear: both;
}
/* #user {
	text-align: right;
} */
hr, br {
	clear: both;
}

#topbar p {
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
}
#topbar a, #topbar p, #topbar li, #footer a, #footer p {
	color: white;
}
#topbar, #footer {
	background-color: #380155;
	/* overflow: hidden; */
}
#topbar {
	padding-left: 20px;
}
#dropdown_menu {
	position: relative;
}
#dropdown_menu ul {
	position: absolute;
	top: 150px;
	left: 0px;
}

.active_tab {
	background-color: #FFF1C9;
	color: #380155;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	/* min-height: 90%; */
}
.active_tab a {
	color: #380155 !important;
}

a {
	/* color: brown; */
	color: #663300;
}

.float_right {
	float: right !important;
}

.error {
	color: red;
}

.white {
	background-color: white;
}
.light_purple {
	background-color: #D1C0F1;
}
.lighter_purple {
	background-color: #E1D0FF;
}
.very_light_gray {
	background-color: #EEEEEE;
}
.lighter_gray {
	background-color: #DDDDDD;
}

table {
	border-collapse: collapse;
}
table td, table th {
	padding-right: 1em;
	padding-left: 5px;
}
table.fullwidth {
	width: 100%;
}
table.objectlist th {
	text-align: left;
	border-bottom: #380155 solid 3px;
	font-size: 12pt;
}

.buttons form input {
	float: left;
}

.announcement, .tip {
	background-color: #DDFFDD;
	border: 1px solid green;
}
.notification, .note {
	background-color: #FFFFDD;
	border: 1px solid yellow;
}
.alert, .warning {
	background-color: #FFDDDD;
	border: 1px solid red;
}
.announcement, .notification, .alert, .tip, .note, .warning {
	margin-left: 10px;
	margin-right: 10px;
	padding: 2px;
}
.announcement, .notification, .alert {
	margin-top: 8px;
	margin-bottom: 8px;
}

.dropdown_menu  div p{
	display: inline;
}